<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Edit User: {{ user.username }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <a class="back-link" href="{% url 'manage-users' %}">&larr; Back to Users</a>
    </div>
</body>
</html>